# Telegram Bot Configuration
BOT_TOKEN=8745088680:AAFWQX27bp9U8YiSYcsUSqoXINHRpAskexA
BOT_USERNAME=@Readingchallenge_izzat_bot
CHANNEL_USERNAME=@MirzajonovI
PRIVATE_CHANNEL_LINK=https://t.me/+6M50i5FH2M43YWIy
REFERRALS_NEEDED=5
